
<div class="col-xl-6 col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web uygulaması kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin
                    ve acentamızın istatistik bilgileri bulunmaktadır. Bu istatistiklerin sizinle beraber
                    artmasını temenni ediyoruz. Gezi dolu nice günde buluşmak dileğiyle
                </p>
                <h4 class="card-title">....... </h4>
                <h6 class="success"> Aktif Rezervasyon Sayınız: 4</h6>
                <h6 class="danger"> Geçmiş Rezervasyon Sayınız: 12</h6>
                <h6 class="primary"> Onay Bekleyen Rezervasyon Sayınız: 1</h6>
                <h6 class="warning"> Toplam Rota Sayısı: 16</h6>
                <h6 class="info"> Rehber Sayımız: 6</h6>
                <h6 class="primary"> Toplam Misafir Sayımız: 1286</h6>
                <h6 class="success"> Ortalama Puanımız: 8.97/10</h6>
                 
            </div>
        </div>
    </div>
</div>