
@if(User.Identity.IsAuthenticated){
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Bir Yorum Bırakın</h4>
    <p class="mb-4">
        İşaretli (*) alanları doldurmanız gerekmektedir.
    </p>

    <form method="post" asp-action="AddComment" asp-controller="Comment">
        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz*" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="input-grids row">
           
            <div class="form-group col-lg-6">
                <input type="hidden" name="DestinationID" value="@ViewBag.i" class="form-control" placeholder="Destination ID" required="">
            </div>
            <div class="form-group col-lg-6">
                <input type="hidden" name="AppUserID" value="@ViewBag.userID" class="form-control" placeholder="Destination ID" required="">
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Yorum Yap </button>
        </div>
    </form>
    </div>
}
else
{
    <h2>Yorum yapabilmeniz için üye olmanız gerekli.</h2>
    <br />
    <span><a href="/Login/SignUp" class="btn btn-outline-primary">Üye Ol</a></span>
}
@*<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>*@