@model AnnouncementAddDto
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Ekleme Sayfası</h1>

<form method="post">

    <div class="form-group">
        @Html.Label("Duyuru Başlığı")
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger" style="font-size:12px;"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Duyuru İçeriği")
        <textarea cols="30" rows="5" class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger" style="font-size:12px;"></span>

    </div>
   
    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
</form>


