@model GetGuideByIDResult
@{
    ViewData["Title"] = "GetGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="GuideID" />
    <div class="form-group">
        @Html.Label("Rehber Adı")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <br />
    <button class="btn btn-outline-primary">Rehber Güncelle</button>
</form>
